body {
  margin: 0px;
  color: #333333;
  background-color: white;
}


#main-header {
  background-color: #deeaf8;
  position: relative;

  @include media-breakpoint-up(md) {
    .home & {
      height: 430px;
      width: 100%;

      &::after {
        content: ' ';
        position: absolute;
        background-image: url( "../images/banner_pyconil_2018.png");
        background-repeat: no-repeat;
        width: 179px;
        height: 72px;
        top: 8px;
        right: 8px;

        html[dir=rtl] & {
          left: 8px;
          right: auto;
        }

      }
    }
  }

  .navbar-topbar {
    background-color: #1d76bd !important;
    border-top: #e34f25 2px solid;

    @include media-breakpoint-down(sm) {
      .navbar-nav {
        padding: $grid-gutter-width / 2;
      }
    }

    @include media-breakpoint-up(md) {
      .home & {
        margin-top: 130px;
        border-top: 0px none;
        position: relative;

        &::after {
          content: ' ';
          position: absolute;
          background-image: url( "../images/surf.png");
          background-repeat: no-repeat;
          width: 57px;
          height: 142px;
          animation-name: surfAni;
          animation-duration: 5s;
          animation-iteration-count: infinite;
          top: -60px;

          html[dir=rtl] & {
            margin-right: 15px;
            margin-left: 0;
          }
        }

        .nav-item {
          z-index: 2;
        }

        .nav-link {
          text-shadow: 1px 1px 2px #1d76bd;
        }
      }
    }

    .nav-link {
      padding-top: 5px;
      padding-bottom: 0.375rem;
    }

    button, button:disabled {
      background: none;
      border: none;
      color: white;
      padding: 0px 10px 0px 10px !important;
    }


  }

}

@mixin cloud($delay, $x-pos, $y-pos) {
  position: absolute;
  background-image: url( "../images/clouds.png");
  background-repeat: no-repeat;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: $x-pos $y-pos;
  animation-name: cloudAni;
  animation-duration: 14s;
  animation-delay: $delay;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display: block;

}

#header-extra {
  display: none;
  position: relative;

  @include media-breakpoint-up(md) {
    .home & {
      @include cloud(0, 0, 170px);

      &::before {
        @include cloud(7s, -600px, 206px);
        content: ' ';
      }

      &::after {
        content: ' ';
        background-image: url( "../images/city.png");
        background-position: bottom;
        background-repeat: repeat-x;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }
}

footer {

  background-image: none;
  background-color: #deeaf8;
  height: 101px;

  @include media-breakpoint-up(md) {
    background: url('../images/footer.jpg') no-repeat left center;
    background-color: rgba(0, 0, 0, 0);
    background-position-y: center;
    background-size: auto auto;
    background-color: #deeaf8;
    background-size: unset;
    background-position-y: 0px;
    height: 300px;
  }

  div {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    padding: 0px;
    margin: 0px;
  }
}

.footer-logo {

  display: none;

  @include media-breakpoint-up(md) {
    display: block;
    background-image: url( "../images/logo_pyconil_2018.png");
    background-position-y: 40px;
    background-repeat: no-repeat;
    width: 142px;
    height: 200px;
    background-position-x: right 20px;
  }

}

.jumbotron {
  margin: 20px;
  margin-top: 50px !important;
}

#logo {

  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;

  a {
    background-image: url( "../images/inner_page_header.png");
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    height: 126px;
    width: 588px;
    margin: 0 auto;
    display: block;
    overflow: hidden;
    line-height: 1000px;  // hide text
    max-width: 100%;
    background-size: cover;

    @include media-breakpoint-up(md) {
      height: 154px;

      .home & {
        background-image: url( "../images/logo_pyconil_2018.png");
        background-repeat: no-repeat;
        width: 142px;
        height: 160px;
        margin: 8px;
      }
    }
  }
}

@keyframes surfAni {
  0% {
    transform: rotate(0deg);
    margin-left: 15px;
  }

  50% {
    transform: rotate(5deg);
    margin-left: 20px;
  }
  100% {
    transform: rotate(0deg);
    margin-left: 15px;
  }
}
@keyframes cloudAni {
  0% {
    background-position-x: -600px;
  }

  100% {
    background-position-x: 250%;
  }
}

h1 {
  color: #1d76bd;
}

h2 {
  color: #e34f25;
}
