
.front-page-sponsors {
    h2 {
        text-align: center;
        margin-bottom: 2em;
        border-bottom: 2px solid #012A29;
        border-top: 2px solid #012A29;
        width: 60%;
        margin: 0.5em auto;
        padding: 0.3em 0;
    }
    .row { margin-top: 2em; }
    .sponsor-name {
        text-align: right;
    }
    .sponsor-logos {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    img { max-height: 100px; }
}
