body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: $background;
  text-align: start;
}
main {
  margin-top: 20px;
  flex: 1;
  .jumbotron {
    margin-top: -20px;
  }
}
#content-body {
  @include make-container();
  @include make-container-max-widths();
}
footer {
  margin-top: 40px;
  padding: 20px 0;
  background-color: $footer-bg-color;
  > div {
    @include make-container();
    @include make-container-max-widths();
  }
}

.pycon-footer {
  text-align: center;
  background-color: #deeaf8;
  padding-bottom: 20px;
}

// Right align links inside a header
.with-actions {
  display: flex;
  justify-content: space-between;
  .button {
      margin-top: auto;
      @extend .btn;
      @extend .btn-sm;
  }
}
