{% load i18n bootstrap %}
<form id="slotEditForm" class="modal-dialog" method="POST" action="{% url "schedule_slot_edit" slug slot.pk %}">
  <div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title">{% trans "Edit Slot" %}</h3>
        <a class="close" data-dismiss="modal">&times;</a>
    </div>
    <div class="modal-body" style="height:350px">
        {% csrf_token %}
        {{ form|bootstrap }}
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</form>
