{% load i18n %}

{% now "Y" as current_year %}
<div class="footer-logo"></div>
<div class="pycon-footer">
  <span class="fb-share-button" data-href="https://il.pycon.org/2018" data-layout="button" data-size="small" data-mobile-iframe="false"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fil.pycon.org%2F2018&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">share</a></span>
  <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Pycon%20Israel">tweet</a>
  <div>
    contact us via email: <a href="mailto:info@pycon.org.il">info@pycon.org.il</a>
  </div>
  <div>
    contact us via facebook: <a href="https://www.facebook.com/pyconisrael">https://www.facebook.com/pyconisrael</a>
  </div>
  <div>
    contact us via tweeter: <a href="https://twitter.com/pyconil">https://twitter.com/pyconil</a>
  </div>
  <div style="text-align: center;" class="copyright">&copy; {{ current_year }} PyCon Israel Team and contributors</div>
  <div style="text-align: center;" class="powered-by">Site Powered by Eldarion's <a href="http://eldarion.com/symposion/">Symposion</a></div>
  <div style="text-align: center;" class="powered-by">Site Designed by <a href="http://eldanet.com/">Eldanet.com</a></div>
</div>
