{% load i18n %}

{% now "Y" as current_year %}
<div class="footer-logo"></div>
<div class="pycon-footer">
  {% trans "Share:" %}
  <span class="fb-share-button" data-href="https://il.pycon.org/2018" data-layout="button" data-size="small" data-mobile-iframe="false"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fil.pycon.org%2F2018&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">share</a></span>
  <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Pycon%20Israel">tweet</a>
  <div>
    {% trans "Contact us:" %} <a href="mailto:info@pycon.org.il" class="envelope-icon"></a>
      <a href="https://www.facebook.com/pyconisrael" class="fb-logo"></a>
      <a href="https://twitter.com/pyconil" class="tweeter-logo"></a>
  </div>
  <div style="text-align: center;" class="copyright">&copy; {{ current_year }} PyCon Israel Team and contributors</div>
  <div style="text-align: center;" class="powered-by">Site Powered by Eldarion's <a href="http://eldarion.com/symposion/">Symposion</a></div>
  <div style="text-align: center;" class="powered-by">Site Designed by <a href="http://eldanet.com/">Eldanet.com</a></div>
</div>
