{% extends "homepage_base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block head_title %}Pycon Israel 2018{% endblock %}

{% block body_base %}
<main>
    <section class="jumbotron">
        <div class="container">
            {% include "_messages.html" %}
            <h1>PyCon Israel 2018</h1>
            <p class="lead">
	      PyCon Israel is happening on June 4-6, 2018! The event will be attended by
	      hundreds of Pythonistas and sponsored by major international and local companies
	      that use Python in their day-to-day business.
	    </p>
        </div>
    </section>
    <section id="content-section">
        <div id="content-body">
            <p class="lead">
	      Join us for two days of learning from world-class keynotes and miryad presentations,
	      all about the Python programming language; then apply your new knowledge at a day of
	      sprints and workshops, and don't forget to socialize, connect, and have fun!
	    </p>

            <div class="feature-columns row">
                <div class="col">
		  <h3 class="text-center">PyData Track</h3>
		  <p class="desc">
		    Data Science and Engineering have become major fields in the last few years,
		    in the industry in general, and the Python community in particular. PyCon Israel
		    is proud to host a PyData track, for the second year in a row.
		  </p>
                </div>
                <div class="col">
		  <h3 class="text-center">Django Girls</h3>
		  <p class="desc">
		    <img src="https://djangogirls.org/static/img/global/logo.png" alt="Django Girls logo"
			 style="width: 15ex; float: right; margin-left: 1ex;" />
		    We are proud to cooperate with the <a href="https://djangogirls.org/raanana/">Django Girls</a>
		    workshop, introducing women to programming for the web and beyond. A workshop will
		    be held on <b>June 3</b> at the Red Hat offices in Ra'anana. Registration is now open!
		  </p>
		  </p>
                </div>
                <div class="col">
		  <h3 class="text-center">Open Source</h3>
		  <p class="desc">
		    <img src="{% static "images/hamakor.png" %}" alt="Hamakor logo" 
			 style="width: 15ex; float: right; margin-left: 1ex;" />
		    Python itself, and most of its ecosystem, have always been Open Source software.
		    PyCon Israel is organized under the auspices of <a href="https://www.hamakor.org.il">Hamakor</a>,
		    the Israeli Open Source and Free Software Association.
		  </p>
                </div>
            </div>
	    <div class="feature-columns row">
	      <div class="col">
		  <h3 class="text-center">Become a Speaker</h3>
		  <p class="desc">
		    In order to make sure that this conference totally rocks, we need your participation.
		    If you are working on something that you think is awesome and want to share it with
		    others in the Python community,
		    please <a href="https://goo.gl/forms/KfLh4udLqTjtQkz13">submit an abstract</a>.
		    Submissions will be accepted until <b>April 4th</b>.
		  </p>
                </div>
                <div class="col">
		  <h3 class="text-center">Register</h3>
		  <p class="desc">
		    Tickets will be available right after Passover &mdash; watch this space!
		  </p>
                </div>
                <div class="col">
		  <h3 class="text-center">Become a Sponsor</h3>
		  <p class="desc">
		    We still have a few sponsorship slots open, if you want to show your
		    support and make an impression on hundreds of enthusiastic pythonistas,
		    <a href="mailto:info@pycon.org.il">contact us</a>.
		  </p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
	  <h2 class="text-center">Sponsors</h2>
        </div>
    </section>
</main>
{% endblock %}
