{% extends "site_base.html" %}

{% block body_class %}home{% endblock %}

{% block extra_header_class %}{% endblock %}

{% block topbar_base %}
  <header>
    <div>
      {% block headerInnerPages %}{% endblock %}
      {{ block.super }}
      <div><div class="cloud"></div><div class="cloud cloud2"></div></div>
      <div id="city"></div>
      <div id="nav"><div>{% block fixNavInnerPage %}{% endblock %}</div></div>
      <div id="logo"></div>
      <div id="surf"></div>
      <div id="logoMobile"></div>
      <div id="banner"></div>
    </div>
  </header>
{% endblock %}
