{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Pycon ישראל 2018{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
<main>
    <section class="jumbotron">
        <div class="container">
            {% include "_messages.html" %}
            <h1>שלום כתה א</h1>
            <p class="lead">
	      שלום גם לגננת
            </p>
        </div>
    </section>
    <section id="content-section">
        <div id="content-body">
            <h2 class="text-center">Blah</h2>
            <p class="lead">
                {% blocktrans %}
                <b>Pinax</b> is an open-source platform based on Django and
                intended to provide a starting point for websites. It takes
                care of the things that many sites have in common, so you can
                focus on what makes your site different.
                {% endblocktrans %}
            </p>
        </div>
    </section>
    <section>
        <div class="container">
            <p class="see-more lead text-center">
                {% blocktrans %}
                See <a href="http://pinaxproject.com/">pinaxproject.com</a>
                for more information.
                {% endblocktrans %}
            </p>
        </div>
    </section>
</main>
{% endblock %}
