{% extends "site_base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load sponsorship_tags %}
{% load thumbnail %}

{% block head_title %}Pycon ישראל 2018{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
<main>
    <section class="jumbotron">
        <div class="container">
            {% include "_messages.html" %}
            <h1>PyCon ישראל 2018</h1>
            <p class="lead">
      	      כנס PyCon ישראל יתקיים בתאריכים 4-6 ליוני 2018! בכנס ישתתפו
              מאות פייתונאים, והוא יקבל חסות מחברות מקומיות וחברות בינלאומיות גדולות,
              שמשתמשות בשפת Python באופן יום-יומי לעסקיהן.
	    </p>
        </div>
    </section>
    <section id="content-section">
        <div id="content-body">
            <p class="lead">
	      הצטרפו אלינו ליומיים של לימוד ממרצים אורחים ברמה עולמית, והרצאות רבות ומגוונות,
              על כל מה שקשור לשפת התכנות Python. אחר כך, ישמו את הידע שלכם ביום של
              ספרינטים וסדנאות, ואל תשכחו להתחבר, ליצור קשרים, ולבלות!
            </p>
            <div class="feature-columns row">
                <div class="col-md">
		  <h3 class="text-center">מסלול PyData</h3>
		  <p class="desc">
                    מדע הנתונים (Data Science) ותחומי ההנדסה הקשורים אליו הפכו להיות תחומים מרכזיים
                    בשנים האחרונות, בתעשיה באופן כללי ובקהילת Python בפרט. PyCon ישראל גאה לארח
                    מסלול PyData יעודי, בפעם השניה ברציפות.
		  </p>
                </div>
                <div class="col-md">
		  <h3 class="text-center">Django Girls</h3>
		  <p class="desc">
		    <img src="https://djangogirls.org/static/img/global/logo.png" alt="Django Girls logo"
			 style="width: 15ex; float: left; margin-right: 1ex;" />
		    אנו גאים לשתף פעולה עם סדנת <a href="https://djangogirls.org/raanana/">Django Girls</a>,
		    שמעבירה הכרות מעשית לנשים עם תכנות עבור הרשת ומעבר לכך.
		    הסדנה תתקיים ב-3 ליוני במשרדי Red Hat ברעננה. ההרשמה פתוחה!
		  </p>
                </div>
                <div class="col-md">
		  <h3 class="text-center">קוד פתוח</h3>
		  <p class="desc">
		    <img src="{% static "images/hamakor.png" %}" alt="לוגו המקור"
			 style="width: 15ex; float: left; margin-right: 1ex;" />
		    שפת Python עצמה, ורוב האקוסיסטם שלה, היו מאז ומתמיד תוכנות בקוד פתוח.
		    PyCon ישראל נערך בחסות עמותת <a href="https://www.hamakor.org.il">המקור</a>,
		    העמותה הישראלית לקוד פתוח ותוכנה חופשית.
		  </p>
                </div>
            </div>
	    <div class="feature-columns row">
	      <div class="col-md">
		  <h3 class="text-center">בואו להרצות!</h3>
		  <p class="desc">
		    כדי לוודא שהכנס יהיה הצלחה מסחררת, אנו זקוקים לעזרתכם.
		    אם אתם עובדים על משהו שהוא מלהיב בעיניכם ואתם מעוניינים לשתף אותו
		    עם אחרים בקהילת הפייתון, אנא <a href="https://goo.gl/forms/cfGvLs61yqDICOTJ2">שלחו תקציר</a>.‬
		    הצעות יתקבלו עד תאריך <b>15 לאפריל</b>.
		  </p>
                </div>
                <div class="col-md">
		  <h3 class="text-center">הרשמה</h3>
		  <p class="desc">
		    הכרטיסים מחכים לכם 
		    <a href="https://ti.to/pycon-israel/pycon-israel-2018">כאן</a>,
		    אבל הם לא יחכו לנצח...
		  </p>
                </div>
                <div class="col-md">
		  <h3 class="text-center">תנו חסות</h3>
		  <p class="desc">
		    ישנם עדיין כמה מקומות לנותני חסות נוספים, אם ברצונכם להראות
		    את תמיכתכם ולהשאיר רושם על מאות פייתונאים נלהבים, אנא
		    <a href="mailto:info@pycon.org.il">צרו קשר</a>.
		  </p>
                </div>
            </div>
        </div>
    {% include "homepage_sponsors.html" %}
    </section>

</main>
{% endblock %}
